:root {
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #fff4e6;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      border:none;
      outline:none;
      text-decoration: none;
      text-transform: capitalize;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      transition: all 0.5s ease-in;
      /*scroll-behavior:smooth;*/
      scroll-padding: 16vh;
  }
  html{
      font-size: 62.5%;
      overflow-x: hidden;
  }
  body {
      background-color: var(--bg-color);
  }
  section{
    padding: 1.5rem 7%
    
  }
  .btn {
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color:#fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: 2px;
    
  }
  .btn:hover {
    letter-spacing: 0.5rem;
  }
  .title {
    text-shadow: 2px 2px 0 var(--card-color),  -2px -2px 0 var(--card-color),  
      -2px 2px 0 var(--card-color),  2px -2px 0 var(--card-color);
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;;
  }
  .home .title {
    display: none;
  }
  .title span {
    color: var(--main-color);
  }
  .header {
      background-color: var(--nav-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      position:fixed;
      top:0;
      left:0;
      right:0;
      height: 18vh;
  
  }
  .header .Logo{
    width: 260px;
    height: 260px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
  }
  .header .ImagesLogo {
    height: 10rem;
    border-radius: 50%;
  }
  .header .navbar a{
    color: #fff;
    font-size: 2.5rem;
    margin: 0 1rem;
  }
  .header .navbar a:hover {
    color:var(--black);
    border-top: .3rem solid var(--black);
    border-bottom: .3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .header .icons {
    display: flex;
    gap: 10px;
  }
  .header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  .header .icons div:hover {
    color: var(--black)
  }
  .header .icons .menu-icon {
    display: none;
  }
  .icons {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top:115%;
    right: -100%;
    width: 300px;
    height: 6rem;
    background-color: #fff;
  }
  .header .search-form.active{
    right: 7%;
  }
  .header .search-form input {
    width: 210px;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    color: var(--black);
    text-transform: none;
  }
  /* Style cho button */
  .search-form .search-button {
    background-color: var(--main-color);
    border: none;
    color: #fff;
    height: 80%;
    width: 80px;
    font-size: 2rem;
    padding: 0;
  }
  
  .search-form .search-button:hover {
    background-color: var(--black);
    transform: scale(1.1); /* Phóng to nhẹ khi hover */
  }
  
  /* Style cho icon bên trong button */
  .search-form .search-button i {
    pointer-events: none; /* Vô hiệu hóa hover trên icon */
    width:2rem;
  }
  .header .cart-items-container {
    position:absolute;
    top:100%;
    right:-100%;
    width: 35rem;
    background-color: #f9f9f9;
    height:80vh;
    border: solid 1px black;
    padding: 0.8rem;
  }
  .header .cart-items-container p{
    font-family: Arial, sans-serif;
    line-height: 24px;
    text-align: right;
    font-size: 1.5rem;
    color: black;
  }
  .header .cart-items-container.active {
    right:0;
  }
  .header .cart-items-container .cart-item {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    /* border: solid 1px black; */
    position:relative;
    gap: 1rem;
  
  }
  .header .cart-items-container a {
    width: 100%;
  }
  .header .cart-items-container .cart-item img {
    width: 7rem;
  }
  .header .cart-items-container .cart-item span {
    position:absolute;
    top:2%;
    right:4%;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
  }
  .header .cart-items-container .cart-item span:hover {
    color: red;
  }
  .header .cart-items-container .cart-item .content h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.8rem;
  }
  .header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
  }
  .header .user-form{
    display: flex;
    align-items: center;
    position: absolute;
    top:115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
    color: #fff;
  }
  .header .user-form.active{
    right: 5%;
  }
  
  /* Dropdown container */
  .header .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .header .dropdown .dropbtn {
    color:#fff;
    background-color: #00afa5;
    font-size: 2.5rem;
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  
  
  /* Dropdown content (hidden by default) */
  .header .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-color);
    width: 145px;
    height: 235px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    margin-top: 0.5rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  
  /* Dropdown links */
  .header .dropdown-content a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-size: 2rem;
  }
  
  
  /* Change color of dropdown links on hover */
  .header .dropdown-content a:hover {
  }
  
  
  /* Show the dropdown content on hover */
  .header .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  
  /* Optional: Style changes for the navbar links to match hover effect */
  .header .navbar a:hover,
  .header .dropdown .dropbtn:hover {
    color: var(--black);
    border-top: .3rem solid var(--black);
    border-bottom: .3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .chs {
    display: inline-block;
    text-align: center;
    background-color: var(--main-color);
    color:#fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: 20px;
  }
  .home {
    display: flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 16vh;
    background-color: lightpink;
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  .home .hero {
    width: 60rem;
  }
  .home .hero h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color:#fff;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  /* cake section */
  .wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .wrapper .cake-card {
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    border: var(--border);
  }
  .wrapper .cake-card:hover{
   
    box-shadow: var(--border);
    background-color: var(--black);
  }
  .wrapper .cake-card:hover *:not(a) {
    color: var(--main-color);
  }
  .wrapper .cake-card img {
    width: 80%;
    height: 10%S;
  }
  .wrapper .cake-card h3 {
    color:#fff;
    font-size: 2rem;
    padding: 0rem 0;
  }
  .wrapper .cake-card .price {
    color:#fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;
  }
  /* best seller section */
  .wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }
  .wrapper .bestseller-card {
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    border:var(--border);
  }
  .wrapper .bestseller-card:hover{
    box-shadow: var(--border);
    background-color: var(--black);
  }
  .wrapper .bestseller-card:hover *:not(a) {
    color: var(--main-color);
  }
  .wrapper .bestseller-card .icons a{
   border:  var(border);
   height: 5rem;
   width: 10rem;
   color: #fff;
   font-size: 2rem;
   line-height: 4rem;
   margin: center;
  }
  .wrapper .bestseller-card .icons a:hover{
    background-color: var(--main-color);
    box-shadow: var(--border);
  }
  .wrapper .bestseller-card img {
    width: 80%;
    height: 10%S;
  }
  .wrapper .bestseller-card .content h3{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  .wrapper .bestseller-card .content .stars{
    padding: 1.8rem;
  }
  .wrapper .bestseller-card .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
  }
  .wrapper .bestseller-card .content h3 {
    color:#fff;
    font-size: 2rem;
    padding: 0rem 0;
  }
  .wrapper .bestseller-card .content .price {
    color:#fff;
    font-size: 2rem;
    padding: 0.5rem 0;
  }
  /*info-cake*/
  .wrapper .bestseller-card .overlay-info{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .wrapper .bestseller-card .overlay-info h4{
    margin-bottom: 10px;
    font-size: 24px;
  }
  .wrapper .bestseller-card .overlay-info p{
    font-size: 16px;
  }
  .wrapper .bestseller-card .overlay-info .active{
    opacity: 1;
    visibility: visible;
  }
  .quantity-selector{
    display: none;
  }
  /* contact us*/
  .contact .contents{
    display: flex;
    background-color: var(--nav-color);
    flex-wrap: wrap;
    gap: 1rem;
    height: 50rem;
  }
  .contact .contents iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
    
  }
  .contact .contents form{
   height: 50rem;
   flex: 1 1 45rem;
   text-align: center;
   padding: 5rem 2rem;
  }
  .contact .contents form h3{
    text-transform: uppercase;
    color: #fff ;
    font-size: 3.5rem;
    padding: 1rem 0;
  
  }
  .contact .contents form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border:  #fff;
    font-size: 2rem;
  }
  .contact .contents form .input-box a{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
  }
  /*info-cake*/
  .form .container{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
  
  }
  .form .container .img{
    flex: 1 1 45rem;
  
  }
  .form .container .img img{
    width: 100%;
    height: 10%S;
  }
  .form .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
  }
  .form .container .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 2.2rem;
  
  }
    .form .container .content .quantity-selector{
      display: flex;
          align-items: center;
  
    }
  .form .container .content .quantity-selector button{
      width: 30px;
          height: 30px;
          background-color: var(--nav-color) /* Green background color */
          color: white;
          border: none;
          font-size: 20px;
          cursor: pointer;
  }
  .form .container .content .quantity-selector input {
          width: 50px;
          text-align: center;
          font-size: 16px;
          border: 1px solid #ddd;
          background-color: #f9f9f9; /* Light gray background */
          margin: 0 5px;
      }
  .form .container .content .quantity-selector button:hover {
          background-color: #45a049; /* Darker green on hover */
      }
      .form {
        display: none;
      }
      .show .container{
        display: block;
      }
      /**/
      .small-line {
        width: 50px; 
        height: 2px; 
        background-color: #fff;
        border: none;
        margin: 20px auto;
      }
  /*footer*/
  footer{
    background-color: var(--black);
    text-align: center;
  }
  .footer .social-media {
    padding: 1rem 0;
  }
  .footer .social-media a{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0.5rem;
  }
  .footer .social-media p{
     font-family: Arial, sans-serif;
    line-height: 24px;
    text-align: center;
     font-size: 1.5rem;
     color: #fff;
  }
  .footer .social-media a:hover{
    background-color: var(--main-color);
  }
  .footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
  }
  .footer .links a{
    padding: 0.7rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
  }
  .footer .links a:hover{
    background-color: var(--main-color);
  }
  .footer .credits{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
  }
  .footer .credits span{
    color: var(--main-color);
  }
  /*About us*/
  .about .container{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
  
  }
  .about .container .img{
    flex: 1 1 45rem;
  
  }
  .about .container .img img{
    width: 100%;
    height: 10%S;
  }
  .about .container .content{
    flex: 1 1 45rem;
    padding: 2rem;
  }
  .about .container .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 2.2rem;
  
  }
  
  .pagination {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 30px;
  }
  .pagination a{
    color:black;
    text-decoration: none;
    padding: 8px 15px;
    display:inline-block;
  }
  .pagination a.active{
    background-color:#00c9a5;
    font-weight: bold;
    border-radius: 5px;
  }
  .pagination a:hover:not(.active){
    background-color: #ccc;
    border-radius: 5px;
  }
  
  @media all and (max-width:992px){
    html {
      font-size: 55%;
    }
    .header .Logo img {
      height: 9rem;
    }
  }
  /* small devices (tablets) */
  /* small devices (tablets) */
  @media (max-width: 768px) {
    section{
      padding: 2rem;
    }
    .header .icons .menu-icon {
      display: inline-block;
    }
    .home{
      background-position: left;
    }
    .home .hero h3 {
      font-size: 3rem;
    }
    .header .navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 31rem;
      background-color: #fff4e6;
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      transition: right 0.3s ease;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      overflow-y: auto;
    }
  
    .header .navbar.active {
      right: 0;
    }
  
    .header .navbar a {
      color: #2f4858;
      display: block;
      font-size: 1.8rem;
      padding: 0.8rem 1rem;
      width: 100%;
      text-align: left;
      border-bottom: 2px solid #ddd;
    }
  
    /* Dropdown button styling */
    .header .dropdown {
      position: relative;
      width: 100%;
    }
  
    .header .dropdown .dropbtn {
      color: #2f4858;
      font-size: 1.8rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: none;
      background:#fff4e6;
      border-bottom: 2px solid #ddd; /* Thanh ngang bên dưới MENU */
    }
  
    /* Styling the + icon */
    .header .dropdown .dropbtn::after {
      content: "+";
      font-size: 1.8rem;
      color:#2f4858;
      transition: transform 0.3s ease;
      margin-left: auto;
    }
  
    /* Rotate + to become - when dropdown is active */
    .header .dropdown.active .dropbtn::after {
      content: "-";
    }
  
    /* Dropdown content styling */
    .header .dropdown-content {
      display: block;
      position: absolute; /* Đặt vị trí là tuyệt đối */
      top: 100%; /* Đặt dropdown ngay dưới button */
      left: 0; /* Căn trái với button */
      max-height: 0;
      visibility: hidden;
      background-color: var(--bg-color);
      width: 80%;
      padding: 0;
      box-shadow: var(--box-shadow);
      border-radius: 5px;
      margin-top: 0;
      max-height: 60vh;
      transition: height 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      position:absolute; /* Ensures it doesn't push other elements down */
      z-index: 20; /* Đảm bảo dropdown ở trên các phần tử khác */
    
    }
  
    /* Show dropdown content when active */
    .header .dropdown.active .dropdown-content {
      opacity: 1;
      visibility: visible;
      display:block;
      position:relative;
      height:auto;
      width:100%;
    }
  
    .header .dropdown-content a {
      color:#2f4858;
      text-decoration: none;
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      padding-left: 1.5rem;
      border-bottom: 1.5px solid #ddd;
      transition: var(--bg-color) 0.3s ease;
    }
    .dropdown-content a:last-child {
      border-bottom: none;
    }
  
    .header .dropdown-content a:hover {
      background-color: #ddd;
    }
    .contact .contents {
      flex-direction: column; /* Chuyển thành cột */
      height: auto;
    }
    .contact .contents iframe {
      height: 30rem; /* Giảm chiều cao cho iframe */
      flex: 1 1 100%; /* Chiếm 100% chiều rộng */
      width:auto;
    }
  
  
    .contact .contents form {
      height: auto; /* Tự động chiều cao cho form */
      flex: 1 1 100%; /* Chiếm 100% chiều rộng */
      padding: 2rem 1rem; /* Giảm padding */
    }
  
  
    .contact .contents form h3 {
      font-size: 2.5rem; /* Giảm kích thước tiêu đề */
    }
  
  
    .contact .contents form .input-box {
      font-size: 1.8rem; /* Giảm kích thước font */
    }
  
  
    .contact .contents form .input-box a {
      font-size: 1.8rem; /* Giảm kích thước font */
    }
    .header .search-form {
      width: auto;
    }
    .header .search-form.active {
      right: 4%;
    }
    :root {
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #fff4e6;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }}
  /* Mobile devices */
  @media (max-width: 480px) {
    .header .navbar {
      width: 100%;
    }
  
    .header .navbar a {
      font-size: 1.8rem;
      width: auto;
    }
  
    .header .dropdown .dropbtn {
      font-size: 1.8rem;
    }
  
    .header .dropdown .dropbtn::after {
      font-size: 1.8rem;
    }
  
    .header .dropdown-content a {
      font-size: 1.6rem;
    }
  }
  
  